<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>RentWeb</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>


<mat-drawer-container class="example-container">
  <mat-drawer mode="side"  opened>Drawer content


    <mat-accordion >
      <mat-expansion-panel hideToggle class="fundo_azul">
        <mat-expansion-panel-header class="disable_ripple">
          <mat-panel-title>
            Opção 1
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-selection-list [multiple]="false">
          <mat-list-option class="row"><mat-icon>account_circle</mat-icon> Opção 1</mat-list-option>
          <mat-list-option><mat-icon>home</mat-icon> Opção 2</mat-list-option>
          <mat-list-option><mat-icon>search</mat-icon> Opção 3</mat-list-option>
          <mat-list-option><mat-icon>edit</mat-icon> Opção 4</mat-list-option>
    
        </mat-selection-list>

      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion >
      <mat-expansion-panel hideToggle class="fundo_azul">
        <mat-expansion-panel-header class="disable_ripple">
          <mat-panel-title>
            Opção 2
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-selection-list [multiple]="false">
          <mat-list-option><mat-icon>account_circle</mat-icon> Opção 1</mat-list-option>
          <mat-list-option><mat-icon>home</mat-icon> Opção 2</mat-list-option>
          <mat-list-option><mat-icon>search</mat-icon> Opção 3</mat-list-option>
          <mat-list-option><mat-icon>edit</mat-icon> Opção 4</mat-list-option>
    
        </mat-selection-list>

      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion >
      <mat-expansion-panel hideToggle class="fundo_azul">
        <mat-expansion-panel-header class="disable_ripple">
          <mat-panel-title>
            Opção 3
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-selection-list [multiple]="false" class="fundo_azul">
          <mat-list-option><mat-icon>account_circle</mat-icon> Opção 1</mat-list-option>
          <mat-list-option><mat-icon>home</mat-icon> Opção 2</mat-list-option>
          <mat-list-option><mat-icon>search</mat-icon> Opção 3</mat-list-option>
          <mat-list-option><mat-icon>edit</mat-icon> Opção 4</mat-list-option>
    
        </mat-selection-list>

      </mat-expansion-panel>
    </mat-accordion>


  </mat-drawer>
  <mat-drawer-content>



    

  </mat-drawer-content>
</mat-drawer-container> 
